:root {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;

    --bg-container: #000000be;
    --shadow-color: #000000aa;
    --shadow-radius: 0.8rem;

    --border: 0.15rem;

    --hover-color: #00ff0030;
    --hover-duration: 150ms;
    --hover-timing: ease;

    --glow-radius: 0.2rem;
    --glow-color: #ffffff80;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

* {
    margin: 0;
    box-sizing: border-box;
}

select {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
}
